#!/usr/bin/make -f

export PYBUILD_NAME=testinfra
export PYBUILD_DISABLE=test

%:
	dh $@ --buildsystem=pybuild --with python2,python3,sphinxdoc

override_dh_sphinxdoc:
	PYTHONPATH=$(CURDIR)/debian/python3-testinfra/usr/lib/python*/dist-packages sphinx-build -b html doc/source $(CURDIR)/debian/python-testinfra-doc/usr/share/doc/python-testinfra-doc/html
	dh_sphinxdoc -O --buildsystem=pybuild
